# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdm.toml

# Django specific
*.sqlite3
db.sqlite3
*.log

# Virtual environment
venv/
env/


# Media
media/
staticfiles/

# IDEs & Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Others
.env
*.bak
*.swp
